<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main.css">
    <title>Time Peace | Take Control of the Clock!</title>
</head>
<body>
<header>
    <section class="logo">
        <a href="index.html"><img src="images/logo.png"></a>
    </section>
    <section class="logOut">
        <a href="account.html">My Account</a>
        <button>Log Out</button>
    </section>
</header>
<section class="dash">
    <img src="images/projects.png"><br />
    <a href="#">Clients</a>
    <button class="newBtn">New Project</button>
    <section class="itemList">
        <section class="item">
            <section class="status">
                <img src="images/complete.png">
            </section>
            <section class="description">
                <strong class="title">Project Name</strong>
                <br />Brief description
            </section>
            <section class="dueDate">
                Due Date: DD/MM/YY
            </section>
            <section class="move">
                <img src="images/move.png">
            </section>
            <section class="tools">
                <img src="images/edit.png">
                <img src="images/delete.png">
            </section>
        </section>
        <section class="itemM">
            <section class="status">
                <img src="images/urgent.png">
            </section>
            <section class="description">
                <strong class="title">Project Name</strong>
                <br />Brief description
            </section>
            <section class="dueDate">
                Due Date: DD/MM/YY
            </section>
            <section class="move">
                <img src="images/move.png">
            </section>
            <section class="tools">
                <img src="images/edit.png">
                <img src="images/delete.png">
            </section>
        </section>
        <section class="itemM">
            <section class="status">
                <img src="images/delayed.png">
            </section>
            <section class="description">
                <strong class="title">Project Name</strong>
                <br />Brief description
            </section>
            <section class="dueDate">
                Due Date: DD/MM/YY
            </section>
            <section class="move">
                <img src="images/move.png">
            </section>
            <section class="tools">
                <img src="images/edit.png">
                <img src="images/delete.png">
            </section>
        </section>
        <section class="itemM">
            <section class="status">
                <img src="images/active.png">
            </section>
            <section class="description">
                <strong class="title">Project Name</strong>
                <br />Brief description
            </section>
            <section class="dueDate">
                Due Date: DD/MM/YY
            </section>
            <section class="move">
                <img src="images/move.png">
            </section>
            <section class="tools">
                <img src="images/edit.png">
                <img src="images/delete.png">
            </section>
        </section>
    </section>
    <section class="addNew">
        <section class="popUp ">
            <img src="images/close.png" class="close" alt="Close">
            <section class="form">
                <section class="clients">
                    <img src="images/account.png" alt="My Account">
                </section>
                <section class="label">
                    <section>First Name:</section>
                    <section>Last Name:</section>
                    <section>Username:</section>
                    <section>Password:</section>
                    <section>Email:</section>
                </section>
                <section class="inputFields">
                    <input name="firstName">
                    <input name="lastName">
                    <input name="username">
                    <input name="password">
                    <input name="email">
                </section>
                <button>Submit</button>

            </section>

        </section>
    </section>
</body>
</html>