<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main.css">
    <title>Time Peace | Take Control of the Clock!</title>
</head>
<body>
<header>
    <section class="logo">
        <a href="index.html"><img src="images/logo.png" alt="Logo"></a>
    </section>
    <section class="logOut">
        <a href="account.html">My Account</a>
        <button>Log Out</button>
    </section>
</header>
<section class="dash">
    <img src="images/projects.png" alt="Projects"><br />
    <a href="#">Clients</a>
    <button class="newBtn">New Project</button>
    <section class="itemList">
        <section class="item">
            <section class="status">
                <img src="images/complete.png" alt="Complete">
            </section>
            <section class="description">
                <strong class="title">Project Name</strong>
                <br />Brief description
            </section>
            <section class="dueDate">
                Due Date: DD/MM/YY
            </section>
            <section class="move">
                <img src="images/move.png" alt="Move">
            </section>
            <section class="tools">
                <img src="images/edit.png" alt="Edit">
                <img src="images/delete.png" alt="Delete">
            </section>
        </section>
        <section class="itemM">
            <section class="status">
                <img src="images/urgent.png" alt="Urgent">
            </section>
            <section class="description">
                <strong class="title">Project Name</strong>
                <br />Brief description
            </section>
            <section class="dueDate">
                Due Date: DD/MM/YY
            </section>
            <section class="move">
                <img src="images/move.png" alt="Move">
            </section>
            <section class="tools">
                <img src="images/edit.png" alt="Edit">
                <img src="images/delete.png" alt="Delete">
            </section>
        </section>
        <section class="itemM">
            <section class="status">
                <img src="images/delayed.png" alt="Delayed">
            </section>
            <section class="description">
                <strong class="title">Project Name</strong>
                <br />Brief description
            </section>
            <section class="dueDate">
                Due Date: DD/MM/YY
            </section>
            <section class="move">
                <img src="images/move.png" alt="Move">
            </section>
            <section class="tools">
                <img src="images/edit.png" alt="Edit">
                <img src="images/delete.png" alt="Delete">
            </section>
        </section>
        <section class="itemM">
            <section class="status">
                <img src="images/active.png" alt="Active">
            </section>
            <section class="description">
                <strong class="title">Project Name</strong>
                <br />Brief description
            </section>
            <section class="dueDate">
                Due Date: DD/MM/YY
            </section>
            <section class="move">
                <img src="images/move.png" alt="Move">
            </section>
            <section class="tools">
                <img src="images/edit.png" alt="Edit">
                <img src="images/delete.png" alt="Delete">
            </section>
        </section>
    </section>
    <section class="addNew">
        <section class="popUp xl">
            <img src="images/close.png" class="close" alt="Close">
            <section class="form">
                <section class="clients">
                    <img src="images/project.png" alt="Project">
                </section>
                <section class="label">
                    <section>Project Name:</section>
                    <section>Description:</section>
                    <section>Due Date:</section>
                    <section>Status:</section>
                </section>
                <section class="inputFields">
                    <input name="taskName">
                    <input name="Description">
                    <input name="dueDate">
                    <img src="images/complete.png" alt="Complete">
                    <img src="images/urgent.png" alt="Urgent">
                    <img src="images/active.png" alt="Active">
                    <img src="images/delayed.png" alt="Delayed">
                    <section class="statusLabel">
                        <section class="statusItem complete">Complete</section>
                        <section class="statusItem urgent">Urgent</section>
                        <section class="statusItem active">Active</section>
                        <section class="statusItem delayed">Delayed</section>
                    </section>
                </section>
                <button>Submit</button>
            </section>
        </section>
    </section>
</section>
</body>
</html>