<div>
    <script type="text/template" id="template_projects">
        <section class="dash">
            <img src="images/projects.png" alt="Projects"><br />
            <a href="#">Clients</a>
            <button class="newBtn">New Project</button>
            <section class="itemList">
                <section class="item">
                    <section class="status">
                        <img src="images/complete.png" alt="Complete">
                    </section>
                    <section class="description">
                        <strong class="title">Project Name</strong>
                        <br />Brief description
                    </section>
                    <section class="dueDate">
                        Due Date: DD/MM/YY
                    </section>
                    <section class="move">
                        <img src="images/move.png" alt="Move">
                    </section>
                    <section class="tools">
                        <img src="images/edit.png" alt="Edit">
                        <img src="images/delete.png" alt="Delete">
                    </section>
                </section>
                <section class="itemM">
                    <section class="status">
                        <img src="images/urgent.png" alt="Urgent">
                    </section>
                    <section class="description">
                        <strong class="title">Project Name</strong>
                        <br />Brief description
                    </section>
                    <section class="dueDate">
                        Due Date: DD/MM/YY
                    </section>
                    <section class="move">
                        <img src="images/move.png" alt="Move">
                    </section>
                    <section class="tools">
                        <img src="images/edit.png" alt="Edit">
                        <img src="images/delete.png" alt="Delete">
                    </section>
                </section>
                <section class="itemM">
                    <section class="status">
                        <img src="images/delayed.png" alt="Delayed">
                    </section>
                    <section class="description">
                        <strong class="title">Project Name</strong>
                        <br />Brief description
                    </section>
                    <section class="dueDate">
                        Due Date: DD/MM/YY
                    </section>
                    <section class="move">
                        <img src="images/move.png" alt="Move">
                    </section>
                    <section class="tools">
                        <img src="images/edit.png" alt="Edit">
                        <img src="images/delete.png" alt="Delete">
                    </section>
                </section>
                <section class="itemM">
                    <section class="status">
                        <img src="images/active.png" alt="Active">
                    </section>
                    <section class="description">
                        <strong class="title">Project Name</strong>
                        <br />Brief description
                    </section>
                    <section class="dueDate">
                        Due Date: DD/MM/YY
                    </section>
                    <section class="move">
                        <img src="images/move.png" alt="Move">
                    </section>
                    <section class="tools">
                        <img src="images/edit.png" alt="Edit">
                        <img src="images/delete.png" alt="Delete">
                    </section>
                </section>
            </section>
        </section>
    </script>
</div>