<div>
    <script type="text/template" id="template_register">
    <header>
        <section class="logo">
            <a href="index.html"><img src="images/logo.png" alt="Logo"></a>
        </section>
        <section class="logIn">
            <input placeholder="Username">
            <input type="password" placeholder="Password">
            <button>Log In</button>
            <a href="#">Register</a>
        </section>
    </header>
    <section class="cta">
        <img src="images/peace.png" class="ctaImg" alt="Take Control of the Clock!">
        <section class="ctaBtn">
            <button>Register</button>
        </section>
    </section>
    <section class="features">
        <section class="add">
            <img src="images/add.png" alt="Add Projects, Task and Clients">
            <p>Add New Projects,<br />Task and Clients</p>
        </section>
        <section class="drag">
            <img src="images/drag.png" alt="Drag and Drop">
            <p>Easy to use <br />Drag &amp; Drop Organization</p>
        </section>
        <section class="device">
            <img src="images/device.png" alt="Work on All Devices">
            <p>Works <br />on all Devices</p>
        </section>
    </section>
    <section class="screenShots">
        <img src="images/screenShot1.png" alt="Projects">
        <img src="images/screenShot2.png" class="ss2" alt="Clients">
        <img src="images/screenShot3.png" alt="Add Task">
    </section>
    <section class="register">
        <section class="popUp">
            <img src="images/close.png" class="close" alt="close">

                <section class="form">
                    <img src="images/step.png" alt="Register">
                    <section class="error"></section>
                    <section class="signUpForm">
                        <input placeholder="Username" class="username">
                        <input type="password" placeholder="Password" class="password">
                        <input placeholder="Email" class="email">
                        <button class="submitBtn">Submit</button>
                    </section>
            </section>

        </section>
    </section>
   </script>
</div>