<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main.css">
    <title>Time Peace | Take Control of the Clock!</title>
</head>
<body>
    <header>
        <section class="logo">
            <a href="index.html"><img src="images/logo.png" alt="Time Peace Logo"></a>
        </section>
        <section class="logOut">
            <a href="account.html">My Account</a>
            <button>Log Out</button>
        </section>
    </header>
    <section class="dash">
        <img src="images/tasks.png" alt="Tasks"><br />
        <a href="#">Clients</a>
        <button class="newBtn">New Task</button>
        <section class="itemList">
            <section class="item">
                <section class="status">
                    <img src="images/complete.png" alt="Complete">
                </section>
                <section class="description">
                    <strong class="title">Task Name</strong>
                    <br />Brief description
                </section>
                <section class="dueDate">
                    Due Date: DD/MM/YY
                </section>
                <section class="move">
                    <img src="images/move.png" alt="Move">
                </section>
                <section class="tools">
                    <img src="images/edit.png" alt="Edit">
                    <img src="images/delete.png" alt="Delete">
                </section>
            </section>
            <section class="itemM">
                <section class="status">
                    <img src="images/urgent.png" alt="Urgent">
                </section>
                <section class="description">
                    <strong class="title">Task Name</strong>
                    <br />Brief description
                </section>
                <section class="dueDate">
                    Due Date: DD/MM/YY
                </section>
                <section class="move">
                    <img src="images/move.png" alt="Move">
                </section>
                <section class="tools">
                    <img src="images/edit.png" alt="Edit">
                    <img src="images/delete.png" alt="Delete">
                </section>
            </section>
            <section class="itemM">
                <section class="status">
                    <img src="images/delayed.png" alt="Delayed">
                </section>
                <section class="description">
                    <strong class="title">Task Name</strong>
                    <br />Brief description
                </section>
                <section class="dueDate">
                    Due Date: DD/MM/YY
                </section>
                <section class="move">
                    <img src="images/move.png" alt="Move">
                </section>
                <section class="tools">
                    <img src="images/edit.png" alt="Edit">
                    <img src="images/delete.png" alt="Delete">
                </section>
            </section>
        </section>
        <section class="itemM">
            <section class="status">
                <img src="images/active.png" alt="Active">
            </section>
            <section class="description">
                <strong class="title">Task Name</strong>
                <br />Brief description
            </section>
            <section class="dueDate">
                Due Date: DD/MM/YY
            </section>
            <section class="move">
                <img src="images/move.png" alt="Move">
            </section>
            <section class="tools">
                <img src="images/edit.png" alt="Edit">
                <img src="images/delete.png" alt="Delete">
            </section>
        </section>
    </section>
</body>
</html>